In [138]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [139]:
def load_dataset():
    """
    function for reading data from csv
    and processing to return a 2D feature matrix and a vector of class
    :return:
    """
    # todo: implement

    # read data from csv
    df = pd.read_csv('data_banknote_authentication.csv')

    # get feature matrix and class vector
    X = df.iloc[:, df.columns != 'isoriginal'].values
    y = df.iloc[:, df.columns == 'isoriginal'].values
    return X,y

In [140]:
df = pd.read_csv('data_banknote_authentication.csv')

In [141]:
df.head(3)

   variance  skewness  curtosis  entropy  isoriginal
0    3.6216    8.6661   -2.8073 -0.44699           0
1    4.5459    8.1674   -2.4586 -1.46210           0
2    3.8660   -2.6383    1.9242  0.10645           0

In [142]:
df.iloc[:, df.columns != 'isoriginal']

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

In [143]:
df.iloc[:, df.columns == 'isoriginal']

      isoriginal
0              0
1              0
2              0
3              0
4              0
...          ...
1367           1
1368           1
1369           1
1370           1
1371           1

[1372 rows x 1 columns]

In [144]:
X,y = load_dataset()

In [145]:
def split_dataset(X, y, test_size, shuffle):
    """
    function for spliting dataset into train and test
    :param X:
    :param y:
    :param float test_size: the proportion of the dataset to include in the test split
    :param bool shuffle: whether to shuffle the data before splitting
    :return:
    """
    # todo: implement.
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, shuffle=shuffle)
    return X_train, y_train, X_test, y_test

In [146]:
X_train, y_train, X_test, y_test = split_dataset(X, y, test_size=0.2, shuffle=True)

In [147]:
X_train.shape

(1097, 4)

In [148]:
X_test.shape

(275, 4)

In [149]:
y_train.shape

(1097, 1)

In [150]:
y_test.shape

(275, 1)

In [151]:
len(X_train.shape)

2

In [152]:
X.shape[1]

4

In [153]:
X=X_train
intercept = np.ones((X.shape[0], 1))

In [154]:
intercept.shape

(1097, 1)

In [155]:
X.shape

(1097, 4)

In [156]:

X = np.concatenate((intercept, X), axis=1)
theta = np.zeros(X.shape[1])

theta = theta.reshape(X.shape[1], 1)

In [159]:
theta.shape

(5,)

In [160]:
X.shape

(1097, 5)

In [158]:
max_iters = 1000
alpha = 0.01

def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def gradient(X, y, theta):
    m = y.size
    h = sigmoid(X.dot(theta))
    grad = (X.T.dot(h - y)) / m
    return grad

def cost_function(X, y, theta):
    m = y.size
    h = sigmoid(X.dot(theta))
    J = -1 * (1 / m) * (np.log(h).T.dot(y) + np.log(1 - h).T.dot(1 - y))
    return J

def gradient_descent(X, y, theta, alpha, num_iters):
    J_history = np.zeros(num_iters)
    for i in range(num_iters):
        theta -= alpha * gradient(X, y, theta)

        if i == 0:
            print("theta.shape:", theta.shape)
            print("gradient(X, y, theta).shape:", gradient(X, y, theta).shape)
        J_history[i] = cost_function(X, y, theta)
    return theta, J_history

theta, J_history = gradient_descent(X, y_train, theta, alpha, max_iters)

# Plot the convergence graph
import matplotlib.pyplot as plt
plt.plot(range(max_iters), J_history, '-b')
plt.xlabel('Number of iterations')
plt.ylabel('Cost J')
plt.show()

ValueError: operands could not be broadcast together with shapes (5,) (5,1097) (5,)

In [ ]:
max_iters = 1000
alpha = 0.01

def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def gradient(X, y, theta):
    m = y.size
    h = sigmoid(theta.T.dot(X))
    grad = (X.T.dot(h - y)) / m
    return grad

def cost_function(X, y, theta):
    m = y.size
    h = sigmoid(X.dot(theta))
    J = -1 * (1 / m) * (np.log(h).T.dot(y) + np.log(1 - h).T.dot(1 - y))
    return J

def gradient_descent(X, y, theta, alpha, num_iters):
    J_history = np.zeros(num_iters)
    for i in range(num_iters):
        theta -= alpha * gradient(X, y, theta)
        J_history[i] = cost_function(X, y, theta)
    return theta, J_history

theta, J_history = gradient_descent(X, y_train, theta, alpha, max_iters)

# Plot the convergence graph
import matplotlib.pyplot as plt
plt.plot(range(max_iters), J_history, '-b')
plt.xlabel('Number of iterations')
plt.ylabel('Cost J')
plt.show()

ValueError: shapes (5,) and (1097,5) not aligned: 5 (dim 0) != 1097 (dim 0)